main {
    @extend .flexColumnCenterCenter;
    @include box(100%);

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
        border-radius: 30px;
        margin: 50px 0px 50px 0px;
        padding: 25px;
        box-shadow: 0px 0px 15px 5px rgba(13,129,135,0.19);

        @include responsive(700px) {
            width:600px;
        }

        label {
            align-items: flex-start;
            margin-top: 15px;
            color:var(--color3);
        }

        input, select {
            width:100%;
            @extend .flexBetweenCenter;
            margin-top: 5px;
        }

        select {
            width:30%;
        }

        #messageID {
            resize:vertical;
            min-height: 100px;
            line-height: 20px;
        }

        .displayError {
            color:rgb(148, 0, 0)
        }

        #sendButton {
            margin-top: 15px;
            align-self: center;
            border:solid 1px var(--color3);
            border-radius: 30px;
            padding: 2px 7px 2px 7px;
            box-shadow: 0px 0px 3px 2px rgba(13,129,135,0.19);
            cursor:pointer;
            transition: 0.3s;
        }
        #sendButton:hover {
            color:var(--color3);
            transform: scale(110%);
            box-shadow: 0px 0px 10px 5px rgba(13,129,135,0.19);
        }
    }
}